pyyaml>=6.0
numpy>=1.24.4
nltk>=3.8.1
datasets>=4.6.1
pyarrow>=14.0.0
jupyter>=1.0.0
ipykernel>=6.25.0
tqdm
spacy>=3.7.2
matplotlib>=3.7.2
seaborn>=0.12.2
# graphseg
genutility>=0.0.83
gensim
networkx
scipy
# late chunking deps:
jupyterlab>=4.2.5
transformers>=4.43.4
torch>=2.4.0
accelerate>=0.30.0  # required for dense_x_retrieval (transformers device_map)
openai>=1.40.0
google-generativeai>=0.8.0
mteb==1.14.20
llama-index-embeddings-huggingface>=0.3.1
llama-index>=0.11.10
click>=8.1.7
einops>=0.6.1
# Recursive Semantic:
langchain>=0.2.0
langchain-experimental>=0.4.1
langchain-text-splitters>=1.1.1
langchain-huggingface>=1.2.0
sentence-transformers>=5.1.2
nltk>=3.8.1
ir-datasets
scikit-learn
